@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-green-400: #4ade80;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-blue-900: #1e3a5f;
  --color-yellow-100: #fef9c3;
  --color-yellow-700: #a16207;
  --color-orange-500: #f97316;
}

body {
  background-color: var(--color-zinc-950);
  color: var(--color-white);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 transparent;
}
